<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkp.mapper.ItemParamItemMapper">
  <resultMap id="BaseResultMap" type="com.zkp.pojo.ItemParamItem">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="item_id" jdbcType="BIGINT" property="itemId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zkp.pojo.ItemParamItem">
    <result column="param_data" jdbcType="LONGVARCHAR" property="paramData" />
  </resultMap>
  <sql id="Blob_Column_List">
    param_data
  </sql>
  <insert id="insert" parameterType="com.zkp.pojo.ItemParamItem">
    insert into tb_item_param_item (id, item_id, created, 
      updated, param_data)
    values (#{id,jdbcType=BIGINT}, #{itemId,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP}, #{paramData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zkp.pojo.ItemParamItem">
    insert into tb_item_param_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="itemId != null">
        item_id,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
      <if test="paramData != null">
        param_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="paramData != null">
        #{paramData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>